<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gym App</title>
</head>
<body>
    {% for gym in gyms %}
    <div
            <br>
            <strong>Name: </strong> {{ gym.name }} <br>
            <strong>Contact: </strong> {{ gym.contact }} <br>
            <strong>Address: </strong> {{ gym.address }}
    </div>
    <br><br>
    {% endfor %}
</body>
</html>